<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog site</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon_io/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  </head>
<body>
  <nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="" class="text-gray">Morwal Man</a>
        </div>
        <div class="menu">
          <i class="fas fa-bars"></i>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                  <form action="/" method="post">
                    <button type="submit" class="comp">Home</button>
                  </form>
                </li>
                <!-- <li class="nav-link">
                  <form action="/contact" method="post">
                    <button type="submit" class="comp">Contact</button>
                  </form>
                </li> -->
                <li class="nav-link">
                  <form action="/addblogs" method="post">
                    <button type="submit" class="comp">Add Blog</button>
                  </form>
                </li>
                <li class="nav-link">
                  <form action="/about" method="post">
                    <button type="submit" class="comp">About Dev</button>
                  </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

